{% extends 'base.html' %}
{% block title %}Contact - My Flask Website{% endblock %}
{% block content %}
<h1 class="mb-4" style="text-align: center">Contact / Connect with Me</h1>
<p class="lead">If you’d like to get in touch, feel free to use any of the platforms below.</p>
<p class="lead">I love to talk! &#128075;</p>
<ul class="list-unstyled">
    <li class="mb-3">
        <a href="https://www.linkedin.com/in/benjaminrigsby/" target="_blank" class="btn btn-outline-primary">
            <i class="bi bi-linkedin"></i> LinkedIn
        </a>
    </li>
    <li class="mb-3">
        <a href="mailto:benjaminrigsby@gmail.com" class="btn btn-outline-secondary">
            <i class="bi bi-envelope"></i> Email
        </a>
    </li>
    <li class="mb-3">
        <a href="https://github.com/your-github-username" target="_blank" class="btn btn-outline-dark">
            <i class="bi bi-github"></i> GitHub
        </a>
    </li>
    <li class="mb-3">
        <a href="https://twitter.com/benjaminrigsby" target="_blank" class="btn btn-outline-info">
            <i class="bi bi-twitter"></i> Twitter
        </a>
    </li>
</ul>
{% endblock %}
