{% extends 'base.html' %}
{% block title %}About - My Flask Website{% endblock %}
{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h2>Hi, I’m Ben. Welcome to my website!</h2>
            <br>
            <p>A little bit about me:</p>
            <ul>
                <li>I live in Tampa, FL with my wife Victoria and our dog Cali</li>
                <li>My favorite TV show is Mad Men (with many close seconds like The Sopranos and Band of Brothers)</li>
                <li>I have a PhD in mechanical engineering</li>
                <li>I was homeschooled until college</li>
                <li>I love coding and building solutions for data-driven decision making</li>
                <li>I make my bed every day</li>
                <li>I love 3D printing, traveling, video games, podcasts, philosophy, and friends</li>
                <li>I also love helping others, which is what inspires me to share things, so I hope you find a useful tidbit here!</li>
            </ul>
            <br>
            <h4>And some random pictures to look at...</h4>
            <img src="../static/images/homepage_pictures.png" style="max-width:100%">
        </div>
    </div>
</div>
{% endblock %}
