{% extends 'base.html' %}
{% block title %}Blog - My Flask Website{% endblock %}
{% block content %}
<h1 class="mb-4">Projects</h1>
<div class="row">
    {% for project in projects %}
    <div class="col-md-4 mb-3">
        <div class="card">
            <a href="{{ url_for('project_detail', project_id=project.id) }}" class="card card-link text-decoration-none">
                <div class="card-body">
                    <h5 class="card-title">{{ project.title }}</h5>
                    <p class="card-text">{{ project.summary }}</p>
                </div>
            </a>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
